<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/header">
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<div layout:fragment="content">
    <div class="content">
        <div class="wrap">
            <div id="main" role="main">
                <ul id="tiles" >
                    <li th:onclick="'javascript:detail(\''+${c.uuid}+'\')'" onclick="location.href='javascript:;';" th:each="c:${list}">
                        <img th:src="${c.img}" src="images/img1.jpg" width="200" height="200" />
                        <div class="post-info">
                            <div class="post-basic-info">
                                <h3><a href="javascript:;" th:text="${c.name}">Animation films</a></h3>
                                <span>
                                    <a href="javascript:;">
                                        <label> </label>
                                        <span th:text="${c.price}"></span>
                                    </a>
                                </span>
                                <p th:text="${c.title}">Lorem Ipsum is simply dummy text of the printing  typesetting industry.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="js/jquery.imagesloaded.js"></script>
    <script src="js/jquery.wookmark.js"></script>
    <script type="text/javascript" th:src="@{js/index.js}"></script>
    <script th:inline="javascript">
        function detail(uuid) {
            var url = [[@{/commodity/product}]];
            location.href = url+"/"+uuid;
        }
    </script>
</div>
</body>
</html>

