<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/header">
<head>
    <meta charset="UTF-8"/>
    <title>详情</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div class="wrap">
        <div class="single-page">
            <div class="single-page-artical">
                <div class="artical-content">
                    <img th:src="@{'../../'+${commodity.img}}" src="images/single-post-pic.jpg" title="banner1" />
                    <h3><a href="javascript:;" th:text="${commodity.title}">incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</a></h3>
                    <p th:text="${commodity.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
                <div class="clear"> </div>
            </div>
            <button onclick="history.back(-1)">返回</button>
        </div>
    </div>
</div>
</body>
</html>